In [19]:
import pandas as pd
df = pd.read_csv("student_performance.csv")

In [20]:
#displaying the dataset
df

,Student_ID,Gender,Study_Hours,Attendance,Previous_Grade,Assignments_Completed,Final_Score
0,1,Male,5.0,85.0,72.0,8.0,75.0
1,2,Female,7.0,90.0,88.0,9.0,92.0
2,3,Male,2.0,60.0,55.0,5.0,58.0
3,4,Female,8.0,95.0,91.0,10.0,95.0
4,5,Male,3.0,70.0,65.0,6.0,67.0
5,6,Female,6.0,88.0,79.0,8.0,85.0
6,7,Male,4.0,75.0,70.0,7.0,72.0
7,8,Female,9.0,98.0,93.0,10.0,97.0
8,9,Male,1.0,50.0,40.0,3.0,45.0
9,10,Female,7.0,92.0,85.0,9.0,90.0
10,11,Male,6.0,NaN,78.0,8.0,80.0
11,12,Female,5.0,83.0,NaN,7.0,78.0
12,13,Male,NaN,65.0,60.0,6.0,63.0
13,14,Female,8.0,94.0,90.0,NaN,93.0
14,15,Male,3.0,72.0,68.0,5.0,NaN

In [21]:
#display top rows
df.head()

,Student_ID,Gender,Study_Hours,Attendance,Previous_Grade,Assignments_Completed,Final_Score
0,1,Male,5.0,85.0,72.0,8.0,75.0
1,2,Female,7.0,90.0,88.0,9.0,92.0
2,3,Male,2.0,60.0,55.0,5.0,58.0
3,4,Female,8.0,95.0,91.0,10.0,95.0
4,5,Male,3.0,70.0,65.0,6.0,67.0

In [22]:
#describe the dataset
df.describe()

,Student_ID,Study_Hours,Attendance,Previous_Grade,Assignments_Completed,Final_Score
count,15.000000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,8.000000,5.285714,79.785714,73.857143,7.214286,77.857143
std,4.472136,2.431479,14.676924,15.476320,2.044827,15.560587
min,1.000000,1.000000,50.000000,40.000000,3.000000,45.000000
25%,4.500000,3.250000,70.500000,65.750000,6.000000,68.250000
50%,8.000000,5.500000,84.000000,75.000000,7.500000,79.000000
75%,11.500000,7.000000,91.500000,87.250000,8.750000,91.500000
max,15.000000,9.000000,98.000000,93.000000,10.000000,97.000000

In [23]:
#count missing values
df.isna().sum().sum()

np.int64(5)

In [24]:
#display the column with highest value
df.select_dtypes(include='number').max().idxmax()

'Attendance'